@CHARSET "ISO-8859-2";

html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 45px;
    background-color: #f4f9f9;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 45px;
    background-color: #222;
    border-color: #080808;
}

.footer>div>p>a {
    color: #9d9d9d;
}

.footer>div>p>a:hover, .footer>div>p>a:focus {
    color: #fff;
    background-color: transparent;
    text-decoration: none;
}

.profile {
    min-height: 355px;
    display: inline-block;
}

.ig-logo {
    /* 	width: 100%; */
    height: 100%;
}

/*.img-circle:hover {
    border: 10px solid #00E554;
    border-radius: 50%;
}*/
.img-circle-player {
    height: 8vh;
    border-radius: 50%;
}

.playTable {
    background-image: url("../../resources/images/IGTable.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 40vw 25vw;
    width: 40vw;
    height: 25vw;
}
.answersSend{
    display: none;
}
.body-content {
    max-width:70vw;
    margin: auto;
}
.error {
    color:#960f13;
    font-weight: bold;
}
.sign-out-button {
    margin-top: 6px;
    margin-right: 0.0vw;
}
.user-name {
}

#roundTimer {
    position: absolute;
    margin-left: 45%;
    margin-top: 12%;
    font-size: 120px;
}

#character {
    position: absolute;
    margin-top: 4.5%;
    font-size: 120px;
    margin-left: 45%;
}

#scorePerRound {
    border: solid 2px;
    border-color: black;
    border-radius: 20px;
    position: absolute;
    margin-left: 45%;
    font-size: 60px;
    width: 130px;
    text-align: center;
}
.create-game-row {
    width: 50%;
    margin-left: 25%;
}
.playContainer {
    width: 80%;
    float: right !important;
}
.play-form{
    width: 20%;
}
.gameRow {
    width: 25%;
    height: 50px;
}
.gameLink {
    margin-top: -10px;
}
#playerImage {
    width: 8vw;
    height: 8vw;
    position: absolute;
    margin-left: 12.4vw;
    margin-top: 41.4vh;
}
.riverStatesWraper {
    overflow:auto; 
    height:400px; 
    width: 50vw;
}
.riverStatesDiv {
    height:25px; width: 15vw;
}
.riverStatesCheckbox {
    width: 20px;
    height: 20px;
    margin-left: 15vw !important;
}
.riverStatesName {
    height: 25px;
    margin-top: -20px;
}
.alert.warning {
    background-color: #ff9800;
}
.closebtn {
    padding-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 20px;
    line-height: 18px;
    cursor: pointer;
    transition: 0.3s;
}
.alert {
    padding: 20px;
    background-color: #f44336;
    color: white;
    opacity: 0.83;
    transition: opacity 0.6s;
    margin-bottom: 15px;
}
.scoreboard-tab {
    width: 100%;
}
.scoreboard-body-column {
    width: 100%;
    text-align: center;
}
.scoreboard-header {
    width: 50vw;
}
.scoreboard-body {
    width: 50vw;
}
.scoreboard-body-row{
    width: 50vw;
    margin-left: 25%;
}
.scoreboard-header-row{
    width: 50vw;
    margin-left: 37%;
}
.scoreboard-line {
    margin-left: 25%;
}
.user-score{
    width: 5vw;
    height: 16vh;
    text-align: center;
    position: relative; 
    -moz-border-radius: 10px; 
    -webkit-border-radius: 10px; 
    border-radius: 10px; 
    border: solid 2px;
    display: none;
}
.score-0{
}
.score-0:before{
    content:""; 
    position: absolute; 
    right: 50%; 
    top: 100%; 
    width: 0; 
    height: 0; 
    border-left: 7px solid transparent; 
    border-right: 7px solid transparent; 
    border-top: 14px solid black; 
}
.score-1{
    margin-left: 6vw;
    margin-top: -22vh;
}
.score-1:before { 
    content:""; 
    position: absolute; 
    left: 100%; 
    top: 12vh; 
    width: 0; 
    height: 0; 
    border-top: 7px solid transparent; 
    border-left: 14px solid black; 
    border-bottom: 7px solid transparent; 
}
.score-2{
    margin-left: 28.5vw;
    margin-top: -16vh;
}
.score-2:before { 
    content:""; 
    position: absolute; 
    right: 100%; 
    top: 12vh; 
    width: 0; 
    height: 0; 
    border-top: 7px solid transparent; 
    border-right: 14px solid black; 
    border-bottom: 7px solid transparent; 
}
.score-3{
    margin-left: 35vw;
    margin-top: -7.5vh;
}
.score-3:before{
    content:""; 
    position: absolute; 
    right: 50%; 
    top: 100%; 
    width: 0; 
    height: 0; 
    border-left: 7px solid transparent; 
    border-right: 7px solid transparent; 
    border-top: 14px solid black; 
}
.score-4{
    margin-left: 28vw;
    margin-top: 24vh;
}
.score-4:before{
    content:""; 
    position: absolute; 
    right: 100%; 
    top: 4vh; 
    width: 0; 
    height: 0; 
    border-top: 7px solid transparent; 
    border-right: 14px solid black; 
    border-bottom: 7px solid transparent; 
}
.score-5{
    margin-left: 5.5vw;
    margin-top: -14vh;
}
.score-5:before{
    content:""; 
    position: absolute; 
    left: 100%; 
    top: 4vh; 
    width: 0; 
    height: 0; 
    border-top: 7px solid transparent; 
    border-left: 14px solid black; 
    border-bottom: 7px solid transparent; 
}
.body-content-play {
    width: 80vw;
    margin-left: 15vw;
    height: 55vh;
}
.create-game-button{
    background: none;
    border: none;
}
.create-game-input {
    width: 3vw;
    float: right;
}
.scoreboard-image{
    width: 5vw;
}
.input-place {
    width: 100% !important;
}
.anwers-group {
    width: 100%;
}