@CHARSET "ISO-8859-2";
html {
    position: relative;
    min-height: 100%;
}
body {
    /* Margin bottom by footer height */
    margin-bottom: 45px;
    background-color: #f4f9f9;
    background-image: url("../../resources/images/bck.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.content{
    margin-top: -4em;
}
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 45px;
    background-color: #222;
    border-color: #080808;
}
.footer>div>p>a {
    color: #9d9d9d;
}
.footer>div>p>a:hover, .footer>div>p>a:focus {
    color: #fff;
    background-color: transparent;
    text-decoration: none;
}
.body-content {
    max-width:70vw;
    margin: auto;
}
.body-content-play {
    width: 80vw;
    margin: auto;
    height: 63vh;
}
.error {
    color:#960f13;
    font-weight: bold;
}
.sign-out-button {
    margin-top: 6px;
    margin-right: 0.0vw;
}
.user-name {
}
/******LOGIN-ERROR*******/
.alert.warning {
    background-color: #ff9800;
}
.closebtn {
    padding-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 20px;
    line-height: 18px;
    cursor: pointer;
    transition: 0.3s;
}
.alert {
    padding: 20px;
    background-color: #f44336;
    color: white;
    opacity: 0.83;
    transition: opacity 0.6s;
    margin-bottom: 15px;
}
.profile {
    min-height: 355px;
    display: inline-block;
}
.profile-score:hover {
    background-color: #46b8da;
    border: 1px solid gray;
    border-radius: 5px;
}
.ig-logo {
    height: 100%;
}
/***********CREATE-GAME*********/
.create-game-row {
    width: 50%;
    margin-left: 25%;
}
.create-game-button{
    background: none;
    border: none;
}
.create-game-input {
    width: 3vw;
    float: right;
}
/*********PLAY-GAME********/
.img-circle-player {
    height: 8vh;
    border-radius: 50%;
}
.playTable {
    background-image: url("../../resources/images/IGTable.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 40vw 25vw;
    width: 40vw;
    height: 25vw;
}
.answersSend{
    display: none;
}
.playContainer {
    width: 75%;
    float: right !important;
    display: flex;
}
.play-form{
    width: 25%;
    margin-top: 5em;
}
.gameRow {
    width: 25%;
    height: 50px;
}
.gameLink {
    margin-top: -10px;
}
#playerImage {
    width: 8vw;
    height: 8vw;
    position: absolute;
    margin-left: 12.4vw;
    margin-top: 41.4vh;
}
.input-place {
    width: 70% !important;
    border-radius: 4px 4px 4px 4px;
    height: 80%;
    margin: auto;
}
.anwers-group {
    width: 100%;
}
.-fill {
    border-radius: 4px 0 0 4px;
    -webkit-flex-basis: 30%;
    flex-basis: 30%;
    line-height: 35px;
    width: 40% !important;
    padding: 0 16px;
    font-size: 13px;
    border: 0;
    flex: none;
    align-items: center;
    color: #535a60;
    background-color: transparent;
}
.answer-input {
    display: flex;
    border-radius: 4px 4px 4px 4px;
    border: 1px solid grey;
    margin-bottom: 0.2em;
}
.user-score{
    width: 5vw;
    height: 16vh;
    text-align: center;
    position: relative; 
    -moz-border-radius: 10px; 
    -webkit-border-radius: 10px; 
    border-radius: 10px; 
    border: solid 2px;
    display: none;
}
.score-0{
}
.score-0:before{
    content:""; 
    position: absolute; 
    right: 50%; 
    top: 100%; 
    width: 0; 
    height: 0; 
    border-left: 7px solid transparent; 
    border-right: 7px solid transparent; 
    border-top: 14px solid black; 
}
.score-1{
    margin-left: 6vw;
    margin-top: -22vh;
}
.score-1:before { 
    content:""; 
    position: absolute; 
    left: 100%; 
    top: 12vh; 
    width: 0; 
    height: 0; 
    border-top: 7px solid transparent; 
    border-left: 14px solid black; 
    border-bottom: 7px solid transparent; 
}
.score-2{
    margin-left: 28.5vw;
    margin-top: -16vh;
}
.score-2:before { 
    content:""; 
    position: absolute; 
    right: 100%; 
    top: 12vh; 
    width: 0; 
    height: 0; 
    border-top: 7px solid transparent; 
    border-right: 14px solid black; 
    border-bottom: 7px solid transparent; 
}
.score-3{
    margin-left: 35vw;
    margin-top: -7.5vh;
}
.score-3:before{
    content:""; 
    position: absolute; 
    right: 50%; 
    top: 100%; 
    width: 0; 
    height: 0; 
    border-left: 7px solid transparent; 
    border-right: 7px solid transparent; 
    border-top: 14px solid black; 
}
.score-4{
    margin-left: 28vw;
    margin-top: 24vh;
}
.score-4:before{
    content:""; 
    position: absolute; 
    right: 100%; 
    top: 4vh; 
    width: 0; 
    height: 0; 
    border-top: 7px solid transparent; 
    border-right: 14px solid black; 
    border-bottom: 7px solid transparent; 
}
.score-5{
    margin-left: 5.5vw;
    margin-top: -14vh;
}
.score-5:before{
    content:""; 
    position: absolute; 
    left: 100%; 
    top: 4vh; 
    width: 0; 
    height: 0; 
    border-top: 7px solid transparent; 
    border-left: 14px solid black; 
    border-bottom: 7px solid transparent; 
}
/*********SCOREBOARD-PAGE*******/
.scoreboard-tab {
    width: 100%;
}
.scoreboard-body-column {
    width: 100%;
    text-align: center;
}
.scoreboard-header {
    width: 50vw;
}
.scoreboard-body {
    width: 50vw;
}
.scoreboard-body-row{
    width: 50vw;
    margin-left: 25%;
}
.scoreboard-tabs {
    width: 50vw;
    margin-left: 25%;
}
.scoreboard-body-row:hover {
    background-color: #46b8da;
    border: 1px solid gray;
    border-radius: 5px;
}
.scoreboard-header-row{
    width: 50vw;
    margin-left: 25%;
}
.scoreboard-line {
    margin-left: 25%;
}
.scoreboard-image{
    width: 5vw;
}
/*******ADMIN PAGE********/
.admin-row:hover {
    background-color: #46b8da;
    border: 1px solid gray;
    border-radius: 5px;
}
.tab {
    width: 5vw !important;
}
.tab a:hover {
    background-color: white !important;
}
.active.tab a {
    background-color: #46b8da !important;
}
.active.tab a:hover {
    background-color: white !important;
}
/************EDIT-NODES******/
.riverStatesWraper {
    overflow:auto; 
    height:400px; 
    width: 50vw;
}
.riverStatesCheckbox {
    width: 20px;
    height: 20px;
}
.riverStatesName {
    height: 25px;
}
.riverStatesName:hover {
    background-color: #46b8da;
    border: 1px solid gray;
    border-radius: 5px;
}
.label-icons {
    width: 1.5em;
    height: 1.5em;
}
.label-icons-intent {    
    margin-left: -0.7em;
}
.label-name{
    display: inline;
}
.score-header {
    height: 7.5em;
    padding: 1em;
    width: 100%;
    margin: auto;
}
.score-header-row {
    background-color: #B7DF39;
    height: 100%;
    width: 100%;
    display: flex;
}
.character {
    width: 33%;
    text-align: center;
    display: flex; 
}
.character-name {
    font-size: 2.5em;
    width: 60%;
}
.character-value {
    font-size: 4em;
    width: 35%;
    text-align: left;
}
.results {
    width: 30%;
}
.results-row {
    width: 80%;
    float: right !important;
    margin-top: 5em;    
    border: 1px solid grey;
    border-radius: 0.5em 0.5em 0.5em 0.5em;
    background: white;
}
.results-rowdiv {
    width: 100%;
    height: 3em;
    background-color: #FAFAFA;
    display: flex;
}
.result-col-icon {
    width: 2em;
    height: 2em;
    margin: 0.5em;
    opacity: .4;
}
.result-col-value {
    width: 80%;
    text-align: left;
    margin: auto;
}
.result-row-line {
    width: 80%;
    margin: auto;
    border-top: 1px solid grey;
}
.results-tabs {
    width: 20%;
    float: left !important;
    margin-top: 6em;  
}
.result-tab {
    width: 100%;
    text-align: right;
    height: 3em;
}
.result-tab-button {
    width: 40%;
    float: right;
    background-color: #434143;
    height: 2.7em;
    text-align: center;
    border: 1px solid #434143;
    border-radius: 20% 0 0 20%;
    color: white;
    margin: auto;
}
.result-tab-button:active {
    background-color: #09ACC1;
}