@CHARSET "ISO-8859-2";

html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 45px;
    background-color: #f4f9f9;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 45px;
    background-color: #222;
    border-color: #080808;
}

.footer>div>p>a {
    color: #9d9d9d;
}

.footer>div>p>a:hover, .footer>div>p>a:focus {
    color: #fff;
    background-color: transparent;
    text-decoration: none;
}

.profile {
    min-height: 355px;
    display: inline-block;
}

.ig-logo {
    /* 	width: 100%; */
    height: 100%;
}

/*.img-circle:hover {
    border: 10px solid #00E554;
    border-radius: 50%;
}*/
.img-circle-player {
    height: 10vh;
    border-radius: 50%;
}

.playTable {
    background-image: url("../../resources/images/IGTable.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 45vw 30vw;
    width: 85vw;
    height: 30vw;
}
.answersSend{
    display: none;
}
.body-content {
    max-width:70vw;
    margin: auto;
}
.error {
    color:#960f13;
    font-weight: bold;
}
.sign-out-button {
    margin-top: 6px;
    margin-right: 0.0vw;
}
.user-name {
}

#roundTimer {
    position: absolute;
    margin-left: 75%;
    margin-top: 8.5%;
    font-size: 120px;
}

#character {
    position: absolute;
    margin-top: 8.5%;
    font-size: 120px;
    margin-left: 6%;
}

#scorePerRound {
    border: solid 2px;
    border-color: black;
    border-radius: 20px;
    position: absolute;
    margin-left: 75%;
    font-size: 60px;
    width: 130px;
    text-align: center;
}
.createGame {
    margin-left: 42%;
}
.playContainer {
    width: 84%;
}
.gameRow {
    width: 25%;
    height: 50px;
}
.gameLink {
    margin-top: -10px;
}
#playerImage {
    width: 5vw;
    height: 5vw;
    position: absolute;
    margin-left: 33.75vw;
    margin-top: 50vh;
}
.riverStatesWraper {
    overflow:auto; 
    height:400px; 
    width: 50vw;
}
.riverStatesDiv {
    height:25px; width: 15vw;
}
.riverStatesCheckbox {
    width: 20px;
    height: 20px;
    margin-left: 15vw !important;
}
.riverStatesName {
    height: 25px;
    margin-top: -20px;
}
.alert.warning {
    background-color: #ff9800;
}
.closebtn {
    padding-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 20px;
    line-height: 18px;
    cursor: pointer;
    transition: 0.3s;
}
.alert {
    padding: 20px;
    background-color: #f44336;
    color: white;
    opacity: 0.83;
    transition: opacity 0.6s;
    margin-bottom: 15px;
}

#user-0 {
    margin-left: 300px;
    width: 20vh;
    height: 17vh;
    margin-top: 300px;
    position: absolute;
}
#user-1 {
    margin-left: 350px;
    width: 20vh;
    height: 17vh;
    margin-top: -40px;
    position: absolute;
}
#user-2 {
    margin-left: 800px;
    width: 20vh;
    height: 17vh;
    margin-top: -40px;
    position: absolute;
}
#scorePerRound-1 {
    width: 50px;
    height: 20px;
    position: absolute;
    margin-top: 60px;
    margin-left: 620px;
}
#scorePerRound-2 {
    width: 50px;
    height: 20px;
    position: absolute;
    margin-top: 60px;
    margin-left: 800px;
}
#scorePerRound-0{
    width: 50px;
    height: 20px;
    position: absolute;
    margin-top: 280px;
    margin-left: 360px;
}
.scoreboard-tab {
    width: 100%;
}
.scoreboard-body-column {
    width: 100%;
    text-align: center;
}
.scoreboard-header {
    width: 50vw;
}
.scoreboard-body {
    width: 50vw;
}
.scoreboard-body-row{
    width: 50vw;
    margin-left: 25%;
}
.scoreboard-header-row{
    width: 50vw;
    margin-left: 37%;
}
.scoreboard-line {
    margin-left: 25%;
}